@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;700&family=Montserrat:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.app {
  height: 100vh;
  width: 100vw;
  /* background: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  background: black;
}

/* .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-size: cover;
  background-repeat: none;
  background-image: url("./cornells.jpeg");
} */

.class-div {
  height: 7rem;
  /* border: 2px solid red; */
  overflow: hidden;
}

.class {
  font-size: 5rem;
  letter-spacing: 5px;
  animation: grow 2s forwards;
  background-image: linear-gradient(to right, limegreen, rgb(245, 120, 3));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* .glow {
  animation: glow 15s infinite;
}

@keyframes glow {
  50% {
    text-shadow: 2px 3px 10px limegreen, 2px 3px 15px orangered;
  }
} */

@keyframes grow {
  0% {
    transform: translateY(7rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.of {
  opacity: 0;
  font-weight: 300;
  animation: fadein 2s 1.5s forwards;
}

.h1-year {
  text-shadow: 3px 5px 30px white;
}

.h1-year-digit {
  opacity: 0;
  animation: fadein 1.5s forwards;
  animation-delay: calc(var(--i) * 1s);
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.output {
  position: absolute;
  bottom: 20%;
  width: 100%;
  font-size: 2.25rem;
  text-align: center;
  animation: slidein 2s 2s forwards;
  transform: translateX(-100vw);
}

@keyframes slidein {
  100% {
    transform: translateX(0);
  }
}

.change {
  position: relative;
}

.change::after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 8px;
  width: 0%;
  background: red;
  content: "";
  transform: skewY(-3deg);
  animation: growline 1s 3s forwards;
}

@keyframes growline {
  100% {
    width: 100%;
  }
}

.scale {
  opacity: 0;
  animation: lastfade 2s forwards;
}

@keyframes lastfade {
  100% {
    opacity: 1;
    color: limegreen;
    text-shadow: 2px 3px 5px limegreen;
  }
}
